---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
---

<Layout>
	<section class="grid py-10 place-items-center text-center">
		<h1 class="text-4xl mb-5 mt-5">Cypherplatxs</h1>
		<p class="">Layer 0 gardeners from Platohedro.org</p>
		<br />
		<section class="text-left">
			<p>
				We are Cypher_plato: a crypto world - study group that started
				at Platohedro in April 2021 from the conversation, free
				expression, sharing, and generating safe space to dream
				together. We meet regularly with experts, amateurs, curious and
				restless people like us, coming from diverse contexts: NFT
				artists, blockchain developers, play2earn analysts, amongst
				others. We investigate and share knowledge with the aim of
				generating a working team that can develop a blockchain
				strategic model for Platohedro, a non-profit organization based
				in Medellin (Colombia), allied organizations and the community
				of South America. We are motivated to learn the tools needed in
				this new stage of humanity, to transition into a decentralized
				and "democratic" digital world. We want and need the knowledge
				in order to contribute to the ways in which the global market
				moves and the new models towards financial freedom.
			</p>
		</section>
	</section>
	<Footer />
</Layout>
