---
import Layout from "@layouts/Layout.astro";
import Footer from "@components/Footer.astro";
---

<Layout>
	<section class="grid py-10 place-items-center text-center">
		<h1 class="text-4xl mb-5 mt-5">Cypherplatxs</h1>
		<p class="">Layer 0 gardeners from Platohedro.org</p>
		<br />
		<section class="text-left">
			<p>
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo,
				possimus? Aliquid, voluptatem. Quibusdam nam eos blanditiis,
				necessitatibus eligendi rem placeat facilis in recusandae qui
				rerum numquam facere quaerat atque accusantium.
			</p>
			<br />
			Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, provident
			tempore? At ex eum dolorum. Corporis fugiat, praesentium voluptas ad
			est labore rem dolores magnam sed eius adipisci! Voluptatum, sed.
		</section>
	</section>
	<Footer />
</Layout>
