

<div class="py-10 ">
  <a href="https://www.spatial.io/s/Cypherplatxs-640d6baa38e9147b2533a82d?share=5254308710914493999" target="_blank">
<button> SALA VIRTUAL
</button>  </a>

</div>



<style>

    button{
      box-shadow: 0 0 5px cyan,
      0 0 25px cyan;
      border-radius: 10%;
      background-color: cyan;
    }
    button:hover {
      box-shadow: 0 0 5px cyan ,
      0 0 25px cyan, 0 0 50px rgb(0, 255, 255),
      0 0 100px cyan, 0 0 200px cyan;
  
    }
  </style>
  