
<div class="py-10 px ">
  <a href="https://www.spatial.io/s/Cypherplatxs-640d6baa38e9147b2533a82d?share=5254308710914493999" target="_blank">
<button> SALA VIRTUAL
</button>  </a>

</div>



<style>

    button{
      box-shadow: 0 0 5px rgb(255, 0, 212),
      0 0 25px rgb(255, 0, 234);
      border-radius: 10%;
      background-color: rgb(255, 0, 234);
    }
    button:hover {
      box-shadow: 0 0 5px rgb(255, 0, 200) ,
      0 0 25px rgb(255, 0, 212), 0 0 50px rgb(255, 0, 255),
      0 0 100px rgb(255, 0, 200), 0 0 200px rgb(255, 0, 255);
  
    }
  </style>
  
